/*PERFIL NERO CODES*/

.perfil1 {
padding: 20px; display: block;
background: linear-gradient(to right, black, #3838386b);
}

.perfiltab1 { width: 460px}

.perfilavatar {
  border: 20px solid rgba(0,0,0,.9);
  width: 230px;  height: 320px;
  outline: 1px solid var(--gvborde-color);
  margin-top: 10px; position: relative
}

.perfilavatar img {
  outline: 1px solid var(--gverse-color);
  outline-offset: 10px
}

.perfilfrase {
  display: block; height: 110px;
  overflow: hidden;
}

.perfilfrase n {
    float: left;    font-size: 90px;
    color: var(--gverse-color);    display: inline-block;
    margin-left: 10px;    margin-top: 45px;
}

.perfilfrase l {
  display: inline-block;
  color: #efefef;  font: 10px montserrat;
  text-align: justify;
  margin: 20px; height: 68px;
  padding-right: 10px;
  width: 347px
}

.atribperfil {
  width:185px;  height: 406px;
  overflow: hidden;
  margin-left: -5px
}

.atributo1, atributo2 {display: block;}

.atributo1 {   width: 140px;   margin: 41px 0; }

.atributo1 m {
    background: var(--gverse2-color);
    display: block;    width: 15px;
    color: var(--gtext-color);
    text-align: center;    font: 20px Cardo;
    height: 15px;    padding: 18px;
    outline: 3px solid var(--gverse-color);
    margin-top: 20px;    margin-left: 100px;
    transform: rotate(45deg);
    justify-content: center;
    align-items: center;
}

.atributo1 m n {  transform: rotate(-45deg);   display: block;}

.atributo1 line {
    display: block;    height: 3px;
    width: 100px;    margin-top: -27px;
    background: var(--gverse-color);
}

.atributo2 {     width: 140px;    margin-left: -45px;  }

.atributo2 m {
    background: var(--gverse2-color);
    display: block;    width: 15px;
    color: var(--gtext-color);
    text-align: center;  font: 20px Cardo;
    height: 15px;    padding: 18px;
    outline: 3px solid var(--gverse-color);
    margin-top: 20px;    margin-left: 100px;
    transform: rotate(45deg);
    justify-content: center;
    align-items: center;
}

.atributo2 m n {  transform: rotate(-45deg); display: block; }

.atributo2 line {
    display: block;    height: 3px;
    width: 100px;    margin-top: -27px;
    background: var(--gverse-color);
}

.perfilstats1 {padding: 20px;}

.perfilmensajes, .inscriperfil {
  display: inline-block;
  width: 185px;  background: #000;
  padding: 10px;
}

.perfilmensajes i {
  float: left;
  color: var(--gverse-color);
  font-size: 20px;
  position: relative; top: 2px
}

.inscriperfil i {
  float: right;   font-size: 17px;
  color: var(--gverse-color);
  position: relative; top: 2px
}

.inscriperfil n {
  float: left;  padding: 6px
  color: var(--gtext-color); font: 8px montserrat;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.perfilmensajes n {
    float: right;    color: var(--gtext-color);
    font: 8px montserrat;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 6px; display: block;
    width: 130px; text-align: right;
}

.perfilmensajes n:before {
    content: "mensajes publicados: ";
    position: absolute;
    margin-top: 0px;
    margin-left: -145px;
}

.perfiltab3 {
    padding: 20px; width: 315px;
}

.perfilbaul span {
    font: 30px Cardo;    display: block;
    transform: rotate(-45deg);    margin-left: 13px;
    margin-top: 2px;
}

.perfilbaul {
    transform: rotate(45deg);
    overflow: hidden;
    width: 50px;    height: 50px;
    outline: 1px solid var(--gverse-color);
    border: 5px solid #151515;
    margin: 20px auto;
    background: #000;
}

.perfilpic line {
  width: 140px; height: 1px;
  background: var(--gverse-color);
  display: block;
  margin: 50px auto -50px;
  transform: rotate(-45deg);
}

.perfilpic {margin-top: 40px; display: block;}

.perfilnombre {
    font: 17px Cardo;    margin-bottom: 10px;
    color: #dadada;    letter-spacing: 3px;
    text-align: right;    text-transform: uppercase;
    border-bottom: 1px solid var(--gverse-color);
}

.perfilnombre n { border-bottom: 3px solid var(--gverse-color)}

.perfilenlaces { padding: 10px}

.perfilenlaces a {
    display: inline-block;
    padding: 8px; width: 127px;
    background: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #dadada; margin: 2px;
    font: 8px montserrat;
    text-align: center;
    height: 12px; overflow: hidden;
}

.perfilenlaces dl.field_id10 a:before {
    content: 'Ficha';
}

.perfilenlaces dl {
    display: inline-block;
    margin: 0!important;
}

.perfildata {
  padding: 10px;
  margin-top: 40px
}

.datito1 {
  display: block;
  background: #000;
  margin: 1px;color:var(--gtext-color);
  font: 8px montserrat;
  text-transform: uppercase;
  letter-spacing: .5px;
  height: 10px; padding: 10px;
  overflow: hidden;
}

.datitofloat {
  float: left;  position: relative;
  top: -3px
}

.datitofloat i {
  color: var(--gverse-color);
  font-size: 12px;
  margin-right: 5px
}

.datito1 n {  float: right;}

.perfilstatsfinal {
  margin: 20px auto;
  text-align: center;
  font: 10px montserrat;
  text-transform: uppercase;
  color: var(--gtext-color); letter-spacing: 1px
}

.stats2, .stats3 {  padding: 10px;}

.stats2 { border-bottom: 1px solid var(--gverse-color);}

.stats3 {
  border-top: 1px solid var(--gverse-color)}

.perfilbaul l {    font-size: 0;}

.postprofile-rank l {    font-size: 0;}

.rankinv {    position: absolute; color: transparent;}
